body {
    font-family: Tahoma;
    color: #7D7D7D;
    background-color: #EBF5FF;
}

div.content {
    margin: auto;
    width: 95%;
    background-color: #191818;
}

div.heading{
    background-color: #9B1427;
    padding: 6px; 
}

div.navigation
{
    color: #9B1427;
    float: left;
    width: 150px;
    padding: 20px;
}

div.main
{
padding: 20px;
margin-left: 170px;
background-color: #ffffff;
}

div.footer
{

}


/* Normal Links */

a {font-weight: bold;}
    a:link {color:#7D7D7D;}
    a:visited {color:#9B1427;}
    a:hover {color:#7D7D7D;}
    a:active {color:#9B1427;}



